#main-left-panel {
	padding-top: 20px;
}

#main-body {
	padding-top: 20px;
	padding-left: 20px;
	border-left: 1px solid #E7E7E7;
}

.navbar {
	margin-bottom: 0;
}

#map { height: 500px; }

.form-control.new-char {
	display: inline;
	width: 200px;
	margin-left: 10px;
	margin-right: 20px;
}

.custom-char-instance {
	margin-bottom: 20px;
}

#add-char-button {
	margin-top: 20px;
}

.new-char-remove {
	cursor: pointer;
}
