{% extends 'V2/layout.twig' %}
{% block bodyattributes %}
    {{ parent() }}
    class="fullpage"
{% endblock bodyattributes %}
{% block content %}
<main role="main" class="main">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="fullpage__title">
                    <h2> Venez découvrir tous nos projets</h2>
                    <br>
                    <div id="map-canvas" class="text-center" > 
                      <span style="VISIBILITY:hidden;display:none">
                      </span>
                    </div>
                    <div
                    class="fb-like"
                    data-share="true"
                    data-width="450"
                    data-show-faces="true">
                  </div>
                </div>


            </div>

        </div>       
    </div>
</main>
{% endblock %}
{% block footer %}
    
{% endblock %}

{% block javascripts %}  
  {{ parent() }}
  <script>
  var liste_crise;
  {% for crise in crises %}
      liste_crise.push({ {{crise.id}} })
  {% endfor %}
  </script>
{% endblock %}
