{% extends 'V2/layout.twig' %}
{% block bodyattributes %}
    {{ parent() }}
    class="fullpage"
{% endblock bodyattributes %}
{% block content %}
<main role="main" class="main">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="fullpage__title">
                    <h2> Venez découvrir tous nos projets
					</h2>
                    <br>
                    <a class="fullpage__button" href="#" role="button">Découvrir les créations</a>
                    <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
                </div>


            </div>

        </div>       
    </div>
</main>
{% endblock %}
{% block footer %}
    
{% endblock %}
