{% extends 'V2/layout.twig' %}
{% block content %}

<main class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
        {% for post in posts %}
        <article class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">{{post.title}}</h3>
		    </div>
		    <div class="panel-body">
		        {{post.content}}
		        <br>
		        <a href="{{ path('Blog-detail', {id: post.id}) }}" class="btn btn-primary">Voir en detail</a>
		    </div>
		</article>
        {% endfor %}
      
        </div>
    </div>
</main>
{% endblock %}