{% extends 'layout.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-12">
        {% for message in app.session.getFlashBag.get('message') %}
            <div class="alert alert-dismissable alert-warning">
                {{ message }}
            </div>
        {% endfor %}
            <h2>Connexion</h2>
            <form action="#" method="post">
                {{ form_widget(form) }}
                <input type="submit" name="submit" />
            </form>
        </div>
    </div>
</main>
{% endblock %}