{% extends 'layout.twig' %}

{% block title %}Créer une alerte{% endblock %}

{% block content %}

<style>
    .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}
</style>

<main class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-4">
        {% for message in app.session.getFlashBag.get('message') %}
        <div class="alert alert-dismissable alert-warning">
    {{ message }}
        </div>
        {% endfor %}
            <h2>Creation crise</h2>
				<form action="#" method="post">
				    {{ form_widget(form) }}
				    <input type="submit" name="submit" />
				</form>
        </div>
        <div class="col-md-8">

            <div id="map-canvas" class="text-center" > </div>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        </div>
    </div>
</main>

    <div id="main-body" class="col-md-10">
        
        <h2>Alerter le public</h2>
        
        <form class="form-horizontal">

{% for message in app.session.getFlashBag.get('message') %}
    <div class="alert alert-dismissable alert-warning">
        {{ message }}
    </div>
{% endfor %}

            <fieldset>
                <legend>Contenu</legend>
                <div class="form-group">
                  <label for="inputTitle" class="col-lg-2 control-label">Titre</label>
                  <div class="col-lg-10">
                    <input class="form-control" id="inputTitle" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label for="message" class="col-lg-2 control-label">Message</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="message"></textarea>
                    <span class="help-block">Un message décrivant la crise. <strong>Ce message sera déployé sur les réseaux sociaux</strong></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="crisisType" class="col-lg-2 control-label">Type</label>
                  <div class="col-lg-10">
                    <select class="form-control" id="crisisType" name="crisisType">
                      <option value="natural">Catastrophe naturelle</option>
                      <option value="zombies">Attaque de zombies</option>
                      <option value="terrorAttack">Attentat</option>
                      <option value="kidnapping">Enlèvement</option>
                      <option value="gogole">Au gogole</option>
                    </select>
                  </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>Destinations</legend>
                
                <div class="form-group" id="destinations-boxes">
                      <label class="col-lg-2 control-label">Réseaux sociaux</label>
                      <div class="col-lg-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="socialNetwork" value="twitter"> <span><i class="fa fa-twitter"></i> Twitter</span>
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="socialNetwork" value="facebook"> <span><i class="fa fa-facebook"></i> Facebook</span>
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="socialNetwork" value="instagram"> <span><i class="fa fa-instagram"></i> Instagram</span>
                          </label>
                        </div>
                      </div>
                      
                      <label class="col-lg-2 control-label">Médias</label>
                      <div class="col-lg-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="medias" value="tv"> <span><i class="fa fa-television"></i> Télévision</span>
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="medias" value="radio"> <span><i class="fa fa-mixcloud"></i> Radio</span>
                          </label>
                        </div>
                      </div>
                    </div>
                </div>
            </fieldset>
          
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Annuler</button>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#validationModal">Valider</button>
                <button type="submit" style="visibility:hidden;" id="submitMainForm"></button>
              </div>
            </div>
        </form>
    
    </div>

{% endblock %}
