{% extends 'V2/layout.twig' %}
{% block bodyattributes %}
    {{ parent() }}
    class="fullpage"
{% endblock bodyattributes %}
{% block content %}
<main role="main" class="main">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="fullpage__title">
                    <h1> Erreur {{code}} </h1>

                    <div class="col-lg-8 col-lg-offset-2">
                        <img class="img-responsive" src="{{ asset('/img/racoon2.jpg') }}" />
                    </div>

                </div>
            </div>
        </div>       
    </div>
</main>
{% endblock %}
