{% extends 'base.twig' %}

{% block body %}
<<<<<<< HEAD
   
=======
    
>>>>>>> e59fc33a58b217c21dfc4ae589227e1ac2bbc7f4

    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer class="footer hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <address class="adresse" itemscope itemtype="http://schema.org/LocalBusiness">
                             <h4><span itemprop="name">Projet tut enterprise </span></h4>
                             <h5> <span itemprop="description">description</span></h5>
                             <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress"> 10 rue de la gare</span><br>
                                <span itemprop="postalCode">54000 </span>
                                <span itemprop="addressLocality">NANCY (France)</span>
                            </div>
                            Tel: <span itemprop="telephone">03.22.55.27.29</span>
                        </address>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right"> 
                            <small>Copyright {{"now"|date('Y')}} | Projet.</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}

