{% extends 'V1/layout.twig' %}
{% block content %}
<h1>Accueil</h1>
<div>
	<article>
		<h2>Article 1</h2>
		<p>Ceci est mon article n째1</p>
	</article>
	<article>
		<h2>Article 2</h2>
		<p>Ceci est mon article n째2</p>
	</article>
	<article>
		<h2>Article 3</h2>
		<p>Ceci est mon article n째3</p>
	</article>
	<article>
		<h2>Article 4</h2>
		<p>Ceci est mon article n째4</p>
	</article>
</div>
{% endblock %}