database:
    driver: pdo_mysql
    host: localhost
    dbname: projet_tut
    user: root
    password: 
    charset: utf8

swiftmailer:
    transport:            smtp
    username:             toto@gmail.com
    password:             azerty
    host:                 smtp.gmail.com
    port:                 465
    encryption:           ssl

general:
    destinataire: toto@gmail.com

oauth:
    facebook_api_key: [0-9]
    facebook_api_key: [0-9az]
    facebook_api_secret: 00000000
    twitter_api_key: 00000000
    twitter_api_secret: 00000000
    google_api_key: [0-9az-].apps.googleusercontent.com
    google_api_secret: [azA-Z0-9]
    github_api_key: 00000000
    github_api_secret: 00000000